@import url('./features/home/pages/home.css');
@import url('./features/questionnaire/pages/questionnaire.css');
@import url('./features/result/pages/result.css');


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  margin-bottom: 40px;
  margin-top: 10px;
}

.header menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header menu li {
  display: flex;
  align-items: center;
  height: 65px;
  padding: 0 50px;
  border-right: 1px solid black;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.header menu li:last-child {
  border-right: none;
  padding-right: 0;
}

img {
  height: 100px;
}
